{
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ],
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }]
  ]
}
